<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Unica+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nixie+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <title>Trip app with weather prediction and map</title>
  </head>
  <body>
    <header>
      <h1>Whereto</h1>
    </header>
    <h3>The weather forecast is available only for 16 days from current date.</h3>
    <h3 id="unavailable"></h3>
    <main>
      <div id="tripsDisplay">
        <!-- <section id=""rightPane> -->
          <section id="newTripDisplay" >
            <h2 id="city">Torun</h2>
            <img id='img'  alt="View of Torun">
            <div>  
              <p id="date" class="weatherForecast">Date:</p>
              <p id='temp' class="weatherForecast">Temp: 72F</p>
              <p id='weather' class="weatherForecast">Partly cloudy</p>
              <button id="buttonRemoveTrip" class="buttons" type="button">Remove This Trip</button> 
            </div>
          </section>
          <section id="formWrapper">
            <form class="form">
              <label for="tripPlace" id="labTripPlace" class="labels">Destination</label>
              <input type="text" id="tripPlace" class='tripInputs' name="place" placeholder="Location" >
              <label for="tripStart" id="labTripStart" class="labels">Start Date</label>
              <input type="date" id="tripStart" class='tripInputs' name="trip-start">
              <label for="tripEnd" id="labTripEnd" class="labels">End Date</label>
              <input type="date" id="tripEnd" class='tripInputs' name="trip-end">
              <button id="sendButton" class="buttons" type="button">Save This Trip</button> 
            </form>
          </section>
      <!-- </section> -->
        <section id="tripListDisplay">
          <h2>Destinations:</h2>
          <ul id="tripList">
          </ul>
          <button id="buttonAddTrip" class="buttons" type="button">Add a Trip</button>
        </section> 
      </div>
      <h3 id="notStringMsg"></h3>
      
  </main>
  <footer>
    <p>&copy; shauvia</p>
  </footer>
  </body>
</html>