@media (max-width: 500px){
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 1.5em;
    font-weight: 600;
  }

  h3 {
    font-size: 1.3em;
    margin: 0 1em 1em 1em;
  }

  form {
    width: 100vw;
    // margin: 2em auto 0 auto;
  }

  .labels {
    justify-self: center;
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 0.5em;
  }

  .tripInputs {
    justify-self: center;
    width: 10em;
  }

  #sendButton {
    justify-self: center;
  }

  .weatherForecast {
    font-weight: 500;
  }
  
  #tripsDisplay {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    margin: 0 0 3em 0;
    grid-template-areas: 
      'ntd' 
      'tld';
    justify-items: center;
  }

  #newTripDisplay div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
      'ntdParagraph1'
      'ntdParagraph2'
      'ntdParagraph3'
      'ntdButton';
  }

  #tripListDisplay {
    width: 70vw;
    margin: 3em 0 0 0;
  }

  #tripListDisplay li {
    font-size: 1.5em;
    color:rgb(107, 99, 45);
    font-weight: 500;
  }
  
  #tripListDisplay h2 {
    font-weight: 600;
    color:rgb(107, 99, 45);
    text-transform: uppercase;
  }

  #newTripDisplay img {
    max-width: 100%;
    max-height: 50vh;
  }

  #labTripPlace {
    grid-area: ltp;
    margin-top: 1em;
  }

}
